<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.specimen.modular.channelcatch" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>
